<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 이모티콘샵</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/togglemenu.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/main_search.css">
</head>
<body>
    <div id="container">
        <div class="aside-container aside-hide">
            <aside class="menu-aside">
            </aside>
            <div class="aside-blank"></div>
        </div>
    </div>

    <header class="header">
        <div class="header-top">
            <button class="toggle-button">
              <i class="fa-solid fa-bars"></i>
            </button>

            <a href="/index" class="logo-button">
                <h1>kakao<span>emoticon</span> shop</h1>
            </a>

            <button class="search-button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>

            <button class="mypage-button">
                <img src="/static/images/profile_default.png" alt="">
            </button>
        </div>

        <nav class="header-menu">
            <ul class="menu-list">
              <li class="menu-list-button"><a href="/index">홈</a></li>
              <li class="menu-list-button"><a href="/main/new">신규</a></liu>
              <li class="menu-list-button"><a href="/main/hot">인기</a></li>
            </ul>
        </nav>
        
        <div class="search-page">
            <div class="search-bar">
                <input class="search-bar-input" type="text" placeholder="이모티콘을 검색해보세요!">
                <button class="search-bar-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="search-view">
            <div class="search-title">
                <h2>검색 결과</h2>
                <p>8</p>
            </div>

            <div class="search-flex">
                <div class="emotion-serch">
                    <div class="emotion-title">
                        <a class="search-link" href="">
                            <h3>이모티콘 이름1</h3>
                            <h4>제작사 </h4>
                            <button class="like-button">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        </a>
                    </div>
                    <a class="emotion-img-link" href="" >
                        <div class="emotion-view-img">
                            <img src="/static/images/noimg.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="info">
          <h3 class="searvice-info">
            <a href="">이용약관</a>
            <a href="">유료이용안내</a>
            <a href="">개인정보처리방침</a>
            <a href="">기업고객</a>
            <a href="">문의하기</a>
            <a href="">공정위사업자정보</a>
            <a href="">(주) 카카오</a>
          </h3>
          <h4 class="warp-info">
            카카오 이모티콘샵에서 판매되는 콘텐츠의 저작권은 콘텐츠 제공자에게 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 처벌될 수 있습니다.
            <br/>
            <br/>
            대표: 홍은택 사업자등록번호: 120-81-47521 통신판매업신고번호: 제2015-제주아라-0032호
            <br/>
            주소: 제주특별자치도 제주시 첨단로 242(영평동) 호스팅사업자: (주)카카오고객센터 1577-3754 메일: help.notice@kakaocorp.com
          </h4>
        </div>
    </footer>

    <script src="/static/js/search/main_search.js"></script>
    <script src="/static/js/function/toggleuser.js"></script>
    <script src="/static/js/kakaopage/detail.js"></script>
    <script src="/static/js/account/principal.js"></script>
</body>
</html>